
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434455;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
 }

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

 a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    color: #ffffff;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
    
/* #region Header */
.header-page {
    border-bottom: 1px solid #e7e9fc;
}

.header-page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-page {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-style {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {

}

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}

.head-addr {
    font-style: normal;
}

.addr-list {
    display: flex;
    gap: 40px;
}

.addr-item {

}

.addr-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.addr-link:hover,
.addr-link:focus {
    color: #404bbf;
}

/* #endregion*/

/* #region section Solutions */

.solution {
background-color: #2e2f42;
/*height: 600px;*/
padding: 188px 0;
}

.solution-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 48px;
        max-width: 496px;
}

.solution-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4d5ae5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        display: block;
        margin: 0 auto;
        border-radius: 4px;
        padding: 16px 32px;
        border: none;
        min-width: 169px;
}

.solution-btn:hover,
.solution-btn:focus {
    background-color: #404bbf;
}

/* #endregion*/

/* #region section Our Factors */

.factors {
    background-color: #fcfcfc;
    padding-top: 120px;
    padding-bottom: 120px;
}

.factors-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.factors-list {
    display: flex;
    gap: 24px;
}

.factors-list-item {
    /*width: 264px;*/
    width: calc((100% - 72px) / 4);
}

.factors-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.factors-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion*/

/* #region section Ourteam */

.ourteam {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ourteam-list {
    display: flex;
    gap: 24px;
}

.ourteam-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    text-align: center;
}

.ourteam-item-container {
    padding: 32px 0;
}

.ourteam-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ourteam-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }

/* #endregion*/

/* #region section Ourprtf */

.ourprtf {
    margin-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px
}

.ourprtf-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 107px;
    margin-bottom: 72px;
}

.ourprtf-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}


.ourprtf-item {
    width: calc((100% - 48px) / 3);
}

.ourprtf-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.ourprtf-cardname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ourprtf-cardtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion*/

/* #region section Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}

footer .logo-style {
    color: #f4f4fd;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

/* #endregion*/